
	<div class="container">
		
			<div class="sub-content">

	<div class="modal-body row">
  <div class="col-md-6">
  	
<form>
	  <div class="form-group">
    <label for="exampleFormControlSelect1">Candidate Requirements</label>
Describe who you’re looking for and we will send you matching profiles.
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Primary role</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>Full Stack</option>
      <option>Front-end</option>
      <option>Back-end</option>
      <option>QA</option>
      <option>UX/UI</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Employment</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>Full-time</option>
      <option>Part-time</option>
      <option>Project Basis</option>
    </select>
  </div>
    <div class="form-group">
    <label for="exampleFormControlSelect1">Time Zone</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>Does not matter</option>
      <option>Europe</option>
      <option>Americas</option>
      <option>Asia</option>
      <option>Pacific</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Budget</label>
    <div class="slidecontainer">
  <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
  <script>
var slider = document.getElementById("myRange");
var output = document.getElementById("demo");
output.innerHTML = slider.value;

slider.oninput = function() {
  output.innerHTML = this.value;
}
</script>

</div>
  </div>
    <div class="form-group">
    	<label for="exampleFormControlTextarea1"></label><br>
  <a class="button" href="companies" role="button" align="center">Find your candidate - $300</a>
</div>
</form>
  </div>
  <div class="col-md-6">
   <img src="/images/hand.png" align="center">
  </div>
</div>

			</div>

		
	</div>

</section><!-- end hero -->