	<div class="container">

		
			<div class="sub-content" align="center">

				<h1><strong>Companies</strong></h1>
				<h2>TalentSeek let's you select from a pre-screened pool of developers who are available to work. You can apply and search for free.</h2><br>

				<a class="button" href="apply" role="button">Apply as a Company</a>
				<br><br>
				<h1><strong>Pricing</strong></h1>
<h2>We'll charge a refundable $300 matching fee once you found your dream candidate. We take care of all admin and legal stuff so it's super easy for you. For that we charge an ongoing fee which amounts to 10% of the monthly salary you are paying.</h2>
			</div>

		
	</div>

</section><!-- end hero -->