	<div class="container">

		
			<div class="sub-content" align="center">

				<h1><strong>Freelancers</strong></h1>
				<h2>Are you a talented <a href="#">Full Stack</a>, <a href="#">Front-end</a>, <a href="#">Back-end</a>, <a href="#">QA</a> or <a href="#">UX/UI</a> developer? </h2><br>

				<a class="button" href="https://bit.ly/2yUuPOH" role="button">Apply as a Freelancer</a>
				<h1><strong>Pricing</strong></h1>
<h2>Talenseek membership is free, we do not charge freelancers a penny and actively connect you to paying clients and projects guaranteeing payment on time.</h2>
			</div>

		<img src="images/palm-tree.png" align="right">
	</div>

</section><!-- end hero -->