<section class="hero">

	<div class="container">

		
			<div class="sub-content">

	<div class="modal-body row">
  <div class="col-md-6">
<h1><strong>Finally.</strong> A tool to hire the best remote developers.<br></h1>
					<h2>Looking to hire a remote software engineer? We've got some great ones that we pre-screened for you.</h2><br>
<button>Hire a developer</button>
  </div>
  <div class="col-md-6">
   <img src="/images/hand.png" align="center">
  </div>
</div>

			</div>

		
	</div>

</section><!-- end hero -->