	<div class="container">

		
			<div class="sub-content">

				<h1><strong>Oops.</strong> the page you are looking for cannot be found.</h1>
				<div class="Character">
   
   <img class="Character_shadow pixelart" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/21542/DemoRpgCharacterShadow.png" alt="Shadow" />
   
   <img class="Character_spritesheet pixelart face-down" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/21542/DemoRpgCharacter.png" alt="Character" />
   
   
</div>

				<a href="/" class="button">Go back to the homepage</a>

			</div>

		
	</div>

</section><!-- end hero -->