body {
	background-color: #EE5559;
	background-image: url("../images/pattern.png");
	background-repeat: no-repeat;
	font-family: "brandon-grotesque", helvetica, arial, sans-serif;
}

h1 {

	color: white;
}

a { 
	color: white; 
}

a:hover {	
	color: white;
}

nav {
	margin-top: 30px;
	margin-left: 30px;
	margin-right: 30px;
}

nav a {
	color: white;
	font-size: 130%;
}

nav a:focus, .nav>li>a:hover {
        text-decoration: none;
        background-color: transparent !important;
        color: white;
  }


footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:80px;   /* Height of the footer */
   color: white;
}

.social{
	margin-top: 10px;
	margin-bottom:10px;
}

.legal {
	margin-bottom: 20px
	color: white;
}

i {
	color: white;
}

label { display: block; }


button {
    transition: all .5s ease;
    color: #fff;
    border: 3px solid white;
    font-family:'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    font-size: 25px;
    background-color : transparent;
    padding: 10px;
    outline: none;
    border-radius: 4px;
}
button:hover {
    color: #001F3F;
    background-color: #fff;
}
